[submodule "Toome/ThirdParty/libtgvoip"]
	path = Toome/ThirdParty/libtgvoip
	url = https://github.com/telegramdesktop/libtgvoip
[submodule "Toome/ThirdParty/GSL"]
	path = Toome/ThirdParty/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "Toome/ThirdParty/xxHash"]
	path = Toome/ThirdParty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "Toome/ThirdParty/rlottie"]
	path = Toome/ThirdParty/rlottie
	url = https://github.com/desktop-app/rlottie.git
[submodule "Toome/ThirdParty/lz4"]
	path = Toome/ThirdParty/lz4
	url = https://github.com/lz4/lz4.git
[submodule "Toome/lib_crl"]
	path = Toome/lib_crl
	url = https://github.com/desktop-app/lib_crl.git
[submodule "Toome/lib_rpl"]
	path = Toome/lib_rpl
	url = https://github.com/desktop-app/lib_rpl.git
[submodule "Toome/lib_base"]
	path = Toome/lib_base
	url = https://github.com/desktop-app/lib_base.git
[submodule "Toome/codegen"]
	path = Toome/codegen
	url = https://github.com/desktop-app/codegen.git
[submodule "Toome/lib_ui"]
	path = Toome/lib_ui
	url = https://github.com/desktop-app/lib_ui.git
[submodule "Toome/lib_lottie"]
	path = Toome/lib_lottie
	url = https://github.com/desktop-app/lib_lottie.git
[submodule "Toome/lib_tl"]
	path = Toome/lib_tl
	url = https://github.com/desktop-app/lib_tl.git
[submodule "Toome/lib_spellcheck"]
	path = Toome/lib_spellcheck
	url = https://github.com/desktop-app/lib_spellcheck
[submodule "Toome/lib_storage"]
	path = Toome/lib_storage
	url = https://github.com/desktop-app/lib_storage.git
[submodule "cmake"]
	path = cmake
	url=https://github.com/850176300/cmake_helpers.git
[submodule "Toome/ThirdParty/expected"]
	path = Toome/ThirdParty/expected
	url = https://github.com/TartanLlama/expected
[submodule "Toome/ThirdParty/QR"]
	path = Toome/ThirdParty/QR
	url = https://github.com/nayuki/QR-Code-generator
[submodule "Toome/lib_qr"]
	path = Toome/lib_qr
	url = https://github.com/desktop-app/lib_qr.git
[submodule "Toome/ThirdParty/hunspell"]
	path = Toome/ThirdParty/hunspell
	url = https://github.com/hunspell/hunspell
[submodule "Toome/ThirdParty/range-v3"]
	path = Toome/ThirdParty/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "Toome/ThirdParty/nimf"]
	path = Toome/ThirdParty/nimf
	url = https://github.com/hamonikr/nimf.git
[submodule "Toome/ThirdParty/hime"]
	path = Toome/ThirdParty/hime
	url = https://github.com/hime-ime/hime.git
[submodule "Toome/ThirdParty/fcitx5-qt"]
	path = Toome/ThirdParty/fcitx5-qt
	url = https://github.com/fcitx/fcitx5-qt.git
[submodule "Toome/lib_webrtc"]
	path = Toome/lib_webrtc
	url = https://github.com/desktop-app/lib_webrtc.git
[submodule "Toome/ThirdParty/tgcalls"]
	path = Toome/ThirdParty/tgcalls
	url = https://github.com/TelegramMessenger/tgcalls.git
[submodule "Toome/lib_webview"]
	path = Toome/lib_webview
	url = https://github.com/desktop-app/lib_webview.git
[submodule "Toome/ThirdParty/jemalloc"]
	path = Toome/ThirdParty/jemalloc
	url = https://github.com/jemalloc/jemalloc
[submodule "Toome/ThirdParty/dispatch"]
	path = Toome/ThirdParty/dispatch
	url = https://github.com/apple/swift-corelibs-libdispatch
[submodule "Toome/ThirdParty/kimageformats"]
	path = Toome/ThirdParty/kimageformats
	url = https://github.com/KDE/kimageformats.git
[submodule "Toome/ThirdParty/kcoreaddons"]
	path = Toome/ThirdParty/kcoreaddons
	url = https://github.com/KDE/kcoreaddons.git
[submodule "Toome/ThirdParty/cld3"]
	path = Toome/ThirdParty/cld3
	url = https://github.com/google/cld3.git
[submodule "Toome/ThirdParty/libprisma"]
	path = Toome/ThirdParty/libprisma
	url = https://github.com/desktop-app/libprisma.git
[submodule "Toome/ThirdParty/xdg-desktop-portal"]
	path = Toome/ThirdParty/xdg-desktop-portal
	url = https://github.com/flatpak/xdg-desktop-portal.git